Source: screen-resolution-extra
Section: x11
Priority: optional
Build-Depends:
 debhelper (>= 10),
 dh-python,
 python3-all-dev,
 intltool,
 python3-distutils-extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Alberto Milone (tseliot) <albertomilone@alice.it>
Standards-Version: 4.1.4
X-Python3-Version: >= 3.2
Vcs-Git: git://github.com/tseliot/screen-resolution-extra.git
Vcs-Browser: https://github.com/tseliot/screen-resolution-extra.git

Package: screen-resolution-extra
Architecture: all
Depends:
 ${python3:Depends},
 python3-xkit (>= 0.5.0),
 policykit-1-gnome | gnome-shell | polkit-1-auth-agent,
 python3-gi,
 ${misc:Depends}
Description: Extension for the nvidia-settings control panel
 Extra features for the nvidia-settings control panel.
